/*文本编辑框*/
textarea{
	border: 1px solid #ccc;
	border-radius: 4px;
}

.section{
	margin-bottom: 45px;
	padding: 20px;
	
	border: solid 1px hsl(0, 0%, 85%);
	border-radius: 4px;
	
	/*边框阴影*/
	box-shadow: 0px 0px 2px #ccc;
}

/*log 显示框*/
#log{
	font-family: Consolas,Microsoft YaHei;
	
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	
	overflow: scroll;
	height: 600px;
}

#content{
	width: 65%;
	margin: 0 auto;
}

#cookie-edit{
	width: 90%;
	margin: 5px;
}

.list{
	list-style-type: none;
	/* [disabled]max-width: 60%; */
}

.list-item{
	margin: 15px;
	border-bottom: solid 1px #ccc;
	padding: 10px;
}
